.main-font{
	font-family: "Abril Fatface", "Lucida Bright", Monospace;
}

.second-font{
	font-family: "Roboto Mono", Helvetica, Monospace;
}

h1.main-font{
	font-size: 5vw;
	text-align: center;
	margin: 0;
}

html{
	height:100%
}

body{
	background-image: url("gradient.svg");
	height: 100%;
	background-repeat: no-repeat;
}

#drawArea{
	width: 90vw;
}
