.main-font{
	font-family: "Abril Fatface", "Lucida Bright", Monospace;
}

.second-font{
	font-family: "Roboto Mono", Helvetica, Monospace;
}

h1.main-font{
	font-size: 5vw;
	text-align: center;
	margin: 0;
}

html{
	height:100%
}

body{
	background: linear-gradient(145deg, #1cc7d6, #00c4cd, #00c1c3, #00bdb8, #00baad, #00b6a1, #00b295, #00ae88, #00aa7b, #00a56e, #04a160, #1e9c52);
	height: 100%;
	background-size:cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
}

#toolBar{
	margin:auto;
	width: 90vw;
	height: 3vw;
}

.resButton{
	float: left;
	align-self: start;
	background: transparent;
	margin-right: 0.3vw;
	width: 7vw;
	height: 3vw;
	border: 2px solid #09948f;
	font-family: "Roboto Mono", Helvetica, Monospace;
	font-size: 1.5vw;
	cursor: pointer;
}

.resButton:hover{
	background-color: #09948f;
	color: #ffffff;
	box-shadow: 0 0 3px #000000;
}


.toolButton{
	float: right;
	align-self: start;
	background: transparent;
	margin-right: 0.3vw;
	width: 12vw;
	height: 3vw;
	border: 2px solid #09948f;
	font-family: "Roboto Mono", Helvetica, Monospace;
	font-size: 1.5vw;
	cursor: pointer;
}

.toolButton:hover{
	background-color: #09948f;
	color: #ffffff;
	box-shadow: 0 0 3px #000000;
}

#drawArea{
	width: 90vw;
	height: 40vw;
	background-color: white;
	border-style: solid;
	border-color: #000000;
}

#canvasDiv{
	text-align:center;
}
